img {
    margin: 5px;
    width: 80px;
}

.authorize {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    /* border-bottom: 1px solid white; */
}

.login {
    margin-right: 120px;
}

.login, .signup {
    height: 100vh;
    /* padding-top: 150px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup {
    background-color: rgb(255, 145, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fields {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 350px;
    padding: 8px 14px;
    border-radius: 12px;
    border: none;
    margin-top: 10px;
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 12px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(218, 218, 218);
}

.login-btn {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: rgb(252, 156, 13);
    color: white;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.login-btn:hover {
    background-color: rgb(255, 110, 14);
}

.login-btn:active {
    transform: scale(0.98);
}

.para {
    color: white;
    text-align: center;
}

.signup-btn {
    width: 150px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
    background-color: white;
    color: rgb(255, 145, 0);
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.signup-btn:active {
    transform: scale(0.98);
}
