.navigation-bar {
    width: 98%;
    margin: 5px 10px;
}

.navigate {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 300px;
    float: right;
}

.profile {
    display:flex;
    cursor: pointer;
}

.profile-item {
    padding: 7px;
    word-wrap: break-word;
}

.email {
    padding-bottom: 2px;
    border-bottom: solid 1px rgb(184, 184, 184);
}

.cart {
    position: relative;
    top: 15px;
    margin-right: 15px;
    display: flex;
    text-decoration: none;
    color: white;
}

.cart span {
    position: relative;
    top: 12px;
    font-size: 12px;
}

.dropdownprofile {
    position: absolute;
    top: 70px;
    right: 25px;
    color: rgb(134, 134, 134);
    background-color: white;
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    z-index: 2;
    border: solid 0.1px rgb(134, 134, 134);
}

.profile-pic {
    width: 45px;
    border-radius: 5px;
}

.web-profile { 
    float: right;
    margin-left: 5px;
}

.home {
    position: relative;
    float: left;
}

.right {
    float: right;
    margin-left: 20px;
}

.nav {
    padding: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.bar {
    display: none;
}

.others:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.auth {
    border: solid white 1px;
    border-radius: 5px;
}

.auth:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 520px) {
    .navigation-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        text-decoration: none;
    }
    .mobile-profile {
        position: absolute;
        display: flex;
        right: 5px;
        width: 45px;
    }
    .dropdownprofile {
        top: 55px;
        right: 10px;
        width: 150px;
        font-size: small;
        padding: 5px;
        text-align: right;
    }
    .bar {
        display: block;
        width: 30px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
        margin-top: 4px;
    }
    .nav:hover {
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 5px;
    }
    .auth{
        border: none;
    }
    .right {
        margin-left: 0;
    }
}