.navigation-bar {
    width: 98%;
    margin: 5px 10px;
}

.navigate {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 300px;
    float: right;
}

.home {
    position: relative;
    float: left;
}

.right {
    float: right;
    margin-left: 20px;
}

.nav {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.bar {
    display: none;
}

.others:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.login {
    border: solid white 1px;
    border-radius: 5px;
}

.login:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 520px) {
    .navigation-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        float: left;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        text-decoration: none;
    }
    .bar {
        display: block;
        width: 30px;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    .nav:hover {
        background-color: white;
        color: black;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 5px;
    }
    .login{
        border: none;
    }
    .right {
        margin-left: 0;
    }
}