.product-list-box {
    width: 100%;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 20px;
}

.product-list-box::-webkit-scrollbar {
    display: none;
}

header {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    color: white;
    background: linear-gradient(to right, black 30%, rgb(41, 41, 41));
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-bottom: 70px;
}

.item-card {
    display: grid;
    grid-template-rows: 4fr 1fr;
    place-items: center;
    transition: 0.2s all;
    background-color: white;
    height: 300px;
}

.item-card:hover {
    transform: scale(1.05);
}

.item-card:before {
    content: "";
    position: relative;
    top: 0;
    display: block;
    width: 100%;
    height: 300px;
    /* background: linear-gradient(to bottom, rgba(255, 174, 0, 0.705), rgb(255, 81, 0)); */
    z-index: 2;
    transition: 0.3s all;
    opacity: 1;
    padding: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 55%, rgba(80, 80, 80, 0.459), rgba(37, 37, 37, 0.925), rgb(0, 0, 0));
}

.item-card:hover:before {
    background: linear-gradient(to bottom, rgba(255, 174, 0, 0.705), rgb(255, 81, 0));
    opacity: 1;
}

.item-card .info {
    width: 100%;
    position: relative;
    bottom: 140px;
    z-index: 2;
    padding: 20px;
    font-size: 11.5px;
    color: white;
    font-weight: 500;
    opacity: 1;
}

.item-card:hover .info {
    font-size: 13px;
    color: black;
    opacity: 1;
    bottom: 150px;
}

.item-card .price {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}

.item-card img{
    position: relative;
    top: -220px;
    margin: 20px;
    padding: 10px 20px;
}

@media screen and (max-width: 1100px) {
    .items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 860px) {
    .items {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item-card .info {
        font-size: 13px;
    }
}

@media screen and (max-width: 650px) {
    .items {
        padding: 40px;
        grid-template-columns: 1fr 1fr;
    }
    .item-card .info {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .items {
        padding: 20px;
    }
        .item-card .info {
            font-size: 12px;
        }
}

@media screen and (max-width: 420px) {
    .item-card img {
        margin: 0;
        padding: 20px;
        top: -200px;
    }
    .item-card:before {
        opacity: 1;
        /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 60%, rgb(255, 153, 0), rgb(255, 81, 0)); */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 55%, rgb(109, 109, 109),rgb(0, 0, 0));
    }
    .item-card .info {
        opacity: 1;
        bottom: 110px;
        padding: 15px;
        font-size: 10px;
        font-weight: 500;
        color: white;
    }
}