* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    height: 100vh;
    background: linear-gradient(to right, black 30%, rgb(41, 41, 41));
}

.body::-webkit-scrollbar {
    display: none;
}